@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --cluster-bg: #1e40af; /* blue-800 */
  --cluster-text: #eff6ff; /* blue-50 */
}

.dark {
  --cluster-bg: #1e293b; /* gray-800 */
  --cluster-text: #eff6ff; /* blue-50 */
}

/* Popup styling */
.leaflet-popup-content {
  margin: 0;
  padding: 0.25rem;
  width: auto !important;
  min-width: 280px;
}

/* Popup content styling */
.leaflet-popup-content-wrapper {
  background-color: #eff6ff !important;
  transition:
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Darkmode popup content styling */
.dark .leaflet-popup-content-wrapper {
  background-color: #1f2937 !important;
}

/* Popup tip hiding */
.leaflet-popup-tip {
  display: none;
}

/* Marker focus styling */
.leaflet-marker-icon:focus-visible::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #1e40af;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1000;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Darkmode marker focus styling */
.dark .leaflet-marker-icon:focus-visible::after {
  border-color: #1e293b;
}

/* Removing default marker outline during focus */
.leaflet-marker-icon[tabindex] {
  outline: none !important;
}
